:root {
    /*--color-1: #181a1b;*/
    /*--color-2: #d1cdc7;*/
    --color-1: #0f0f0f;
    --color-2: #e3f1f1;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

input, button, textarea {font-family: inherit}

body {
    background-color: var(--color-1);
    color: var(--color-2);
}

a {
    color: inherit;
    text-decoration: none;
}

.desc {
    padding: 7px 5px;
    background-color: #272727;
    font-weight: bold;
    border-radius: 10px;
}

.username {
    color: #8a8a8a;
}

.username:hover {
    color: var(--color-2);
}

.btn-watch {
    height: 40px;
}

.like-count {
    font-weight: bold;
    margin: 8px 7px
}
