:root {
    /*--color-1: #181a1b;*/
    /*--color-2: #d1cdc7;*/
    --color-1: #0f0f0f;
    --color-2: #e3f1f1;
    --color-3: #8a8a8a;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

input, button, textarea {font-family: inherit}

body {
    background-color: var(--color-1);
    color: var(--color-2);
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    max-height: 52px;
    left: 0;
    top: 0;
    z-index: 50;
    background-color: var(--color-1);
}

section {
    padding: 100px 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
    min-width: 100px;
}

.logo {
    font-weight: 500;
    font-size: 24px;
    max-height: 48px;
    min-width: 200px;
    padding: 0 15px;
}

.username {
    color: var(--color-3);
}

.username:hover {
    color: var(--color-2);
}

.btn-subscribe {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-weight: 500;
}

.btn-like {
    border-radius: 50% 0 0 50%;
    height: 40px;
}

.like-count {
    width: 35px;
    height: 40px;
    font-weight: bold;
    border: #3c4043 1px solid;
    border-radius: 0 50% 50% 0;
    text-align: center;
    padding-top: 7px;
    margin-right: 0;
}

/* my profile */

.my-profile {
    /*display: flex;*/
    padding: 10px 15px;
}

.my-profile > *:not(:last-child) {
    margin-right: 15px;
}

.btn-upload {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    order: 1;
}

.user-link {
    order: 2;
}

.btn-logout {
    height: 32px;
    width: 50px;
    border-radius: 20px;
    order: 3;
}

.user-pic {
    border-radius: 50%;
}

/* upload video */

.upload-video-form-block {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: var(--color-1);
    color: var(--color-2);
    border: 1px solid #ccc;
    /*box-shadow: 0 1px 2px 0 rgba(0,255,255,0.7),*/
    /*            1px 2px 4px 0 rgba(0,255,255,0.7),*/
    /*            2px 4px 8px 0 rgba(0,255,255,0.7),*/
    /*            2px 4px 16px 0 rgba(0,255,255,0.7);*/
    box-shadow: 0 1px 2px 0 rgba(163,88,232,0.7),
                1px 2px 4px 0 rgba(163,88,232,0.7),
                2px 4px 8px 0 rgba(163,88,232,0.7),
                2px 4px 16px 0 rgba(163,88,232,0.7);
    z-index: 1000;
}

.upload-video-form-header {
    margin-bottom: 20px;
}

#upload-video-form > div {
    min-width: 300px;
    margin: 15px 0;
    border: 1px solid var(--color-3);;
    border-radius: 5px;
    padding: 3px 5px;
}

#upload-video-form > div:focus-within {
    border: 1px solid var(--color-2);
}

#upload-video-form > div > label {
    min-width: inherit;
    display: block;
    color: var(--color-3);
}

#upload-video-form > div > label:focus-within {
    color: var(--color-2);
}

#upload-video-form > div > label > input {
    margin-top: 5px;
    min-width: inherit;
    display: block;
    background-color: var(--color-1);
    color: var(--color-2);
}

#upload-video-form > div > label > input:focus {
    outline: none;
}

.video {
    margin: 15px;
}

.preview {
    max-height: 200px; /* Задаем высоту 200px для блока .preview */
    display: flex; /* Используем flex для выравнивания содержимого внутри .preview */
    margin-bottom: 10px;
}

.preview a {
    display: block; /* Преобразуем ссылку в блочный элемент */
    width: 100%; /* Задаем ширину 100% для ссылки */
}

.preview img {
    width: 100%; /* Задаем ширину 100% для картинки внутри .preview */
    height: 100%; /* Задаем высоту 100% для картинки внутри .preview */
    /*object-fit: contain; !* Применяем object-fit: cover, чтобы картинка заполнила блок и при этом сохраняла пропорции *!*/
    border-radius: 15px;
}

video {
    box-shadow: 0 1px 20px 0 rgba(163,88,232,0.7),
                1px 2px 40px 0 rgba(163,88,232,0.5),
                2px 4px 80px 0 rgba(163,88,232,0.5),
                2px 4px 160px 0 rgba(163,88,232,0.5);
}



/* user profile */
.user-profile {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
}

.user-profile-info {
    margin-left: 15px;
}

.user-profile-info p {
    color: var(--color-3);
    margin-bottom: 5px;
}

.user-profile #subscribe-btn-block {
    justify-self: end;
}


/* video author */
.video-author{
    display: grid;
    grid-template-columns: 50px 200px 1fr 2fr;
    max-height: 40px;
}

.video-author-info * {
    margin-bottom: 0;
}

.video-author-info p {
    font-size: 14px;
    color: var(--color-3);
}

.like-btn-block {
    display: flex;
    flex-direction: row;
    justify-self: end;
}


.video-description {
    padding: 7px 5px;
    background-color: #272727;
    font-weight: normal;
    border-radius: 10px;
}
