<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{video.title}}</title>
  <link rel="stylesheet" href="https://vjs.zencdn.net/8.3.0/video-js.css">
</head>
<body>
<video type="video/mp4" ></video>
  <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="1280"
    height="720"
    data-setup="{}"
  >
    <source src="http://localhost:8000/video/{{path}}" type="video/mp4">
  </video>
  <h1 style="text-align: center">{{video.title}}</h1>
  {% if video.description %}
    <h2 style="text-align: center">{{video.description}}</h2>
  {% endif %}
    <p style="text-align: center">likes: {{video.like_count}}</p>
    <p style="text-align: center">channel: {{user.username}}</p>

  <script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
</body>
</html>

