<html lang="ru">
  <head>
    <title>Title</title>
  </head>
  <body>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
      data-client_id="734458996880-si1er8ulmuho5281e0eg71ar47atg6as.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
{#      data-login_uri="http://localhost:8000/api/auth/token"#}
{#      data-login_uri="https://accounts.google.com/gsi/select?client_id=734458996880-si1er8ulmuho5281e0eg71ar47atg6as.apps.googleusercontent.com&ux_mode=popup&ui_mode=card&context=signin&as=KXfnA7v%2FQtFw1kG2kxFrUQ&channel_id=98096551d89771cb8e3367a4ba9f130ff392525b9faa80f458541a489012fb20&origin=http%3A%2F%2Flocalhost%3A8000"#}
      data-callback="authenticateUser"
      data-itp_support="true">
    </div>

    <div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="filled_black"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
    </div>

    <script>
      async function authenticateUser (googleResponse) {
          {#console.log(googleResponse.credential)#}
          fetch('/api/auth/token', {
              method: 'post',
              body: googleResponse.credential
          })
              .then(response => response.json())
              .then(token => token.access_token)
              .then(token => localStorage.setItem('accessToken', token))

          {#console.log(localStorage.getItem('accessToken'))#}
      }
    </script>
  </body>
</html>