<!DOCTYPE html>
<html lang="en" style="font-size: 15px; font-family: Roboto, Arial, sans-serif;">
<head>
  <meta charset="UTF-8">
  {% block head %} {% endblock %}
{#  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/bootstrap.css') }}">#}
{#  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/fontello.css') }}">#}
{#  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/style.css') }}">#}
{#  <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/img/zxc.ico') }}">#}
  <link rel="stylesheet" type="text/css" href="https://zxctube.ru/frontend/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="https://zxctube.ru/frontend/static/css/fontello.css">
  <link rel="stylesheet" type="text/css" href="https://zxctube.ru/frontend/static/css/style.css">
  <link rel="icon" type="image/x-icon" href="https://zxctube.ru/frontend/static/img/zxc.ico">
</head>
<body>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <div id="g_id_onload"
     data-client_id="{{ data.client_id }}"
     data-context="signin"
     data-ux_mode="popup"
     data-callback="login"
     data-auto_prompt="false"
  >
  </div>

  <div id="upload-video-form-block" class="upload-video-form-block">
    <h3 class="upload-video-form-header">Загрузка видео</h3>
    <form id="upload-video-form" enctype="multipart/form-data">
      <div class="video-title">
        <label for="upload-video-title">
          <span>Название</span>
          <input id="upload-video-title" type="text" name="title" placeholder="Название" required>
        </label>
      </div>
      <div class="video-description">
        <label for="upload-video-description">
          <span>Описание</span>
          <input id="upload-video-description" type="text" name="description" placeholder="Расскажите о чем ваше видео">
        </label>
      </div>
      <div class="video-file">
        <label for="upload-video-file">
          <span>Выбрать файл</span>
          <input id="upload-video-file" type="file" name="file" accept="video/mp4">
        </label>
      </div>
      <button class="btn btn-dark" type="submit">Загрузить</button>
      <button class="btn btn-dark" type="button" id="close-form-button">Закрыть</button>
    </form>
  </div>


  <header>
    <div class="header">
{#      <div class="row">#}
        <div class="logo">
          <a href="/" title="Главная страница ZXCTube"><img src="{{ url_for('static', path='/img/logo2.png') }}" alt="" height="58px"></a>
        </div>
        <div id="my-profile" class="my-profile">
            <div class="g_id_signin"
               data-type="standard"
               data-shape="pill"
               data-theme="filled_black"
               data-text="signin_with"
               data-size="large"
               data-logo_alignment="left"
               style="margin-left: -30px">
            </div>
        </div>
{#      </div>#}
    </div>
  </header>


  <section id="content">
    {% block content %} {% endblock %}
  </section>

  <script src="{{ url_for('static', path='/js/bootstrap.bundle.js') }}"></script>
  <script src="{{ url_for('static', path='/js/script.js') }}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', async function() {
        const token = getToken();
        let myProfile = document.getElementById('my-profile');
        if (token) {
            {# upload video button #}
            let uploadVideoButton = document.createElement('button');
            uploadVideoButton.className = 'btn btn-dark btn-sm btn-upload';
            uploadVideoButton.textContent = '+';
            uploadVideoButton.onclick = (() => {
                document.getElementById('upload-video-form-block').style.display = 'block';
            });
            document.getElementById('close-form-button').onclick = (() => {
                document.getElementById('upload-video-form-block').style.display = 'none';
            })
            myProfile.innerHTML = '';
            myProfile.appendChild(uploadVideoButton);

            {# ссылка на свой профиль #}
            const response = await interceptorAuth('/api/user/me');
            let me = await response.json();
            let myProfileLink = document.createElement('a');
            myProfileLink.href = `/${me.id}`;
            myProfileLink.className = 'user-link'
            let myProfilePic = document.createElement('img');
            myProfilePic.className = 'user-pic';
            myProfilePic.src = me.picture;
            myProfilePic.width = 32;
            myProfilePic.alt = ' ';
            myProfileLink.appendChild(myProfilePic);
            myProfile.appendChild(myProfileLink);

            {# logout button #}
            let logoutButton = document.createElement('button');
            logoutButton.className = 'btn btn-dark btn-sm btn-logout';
            logoutButton.textContent = 'Выйти';
            logoutButton.onclick = (async () => await logout());
            myProfile.appendChild(logoutButton);
        }
    });

    let formData  = document.getElementById('upload-video-form');
    formData.onsubmit = async (e) => {
        e.preventDefault();
        uploadVideo(formData);
        document.getElementById('upload-video-form-block').style.display = 'none';
        {#window.location.reload();#}
    };
  </script>
  {% block script %} {% endblock %}
</body>
</html>