{% extends "base.html" %}

{% block head %}
  <title>ZXCTube</title>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      {% for video in data.videos %}
        <div class="col-xl-3 col-md-6 col-12">
          <div class="video">
            <div class="preview">
              <a href="/watch?v={{ video.id }}">
                {% if video.preview %}
                  <img class="preview-img" src="/api/image/preview/{{ video.preview }}" alt=" ">
                {% else %}
                  <img class="preview-img" src="{{ video.user.picture }}" alt=" ">
                {% endif %}
              </a>
            </div>
            <h3><a href="/{{ video.user.id }}" title="{{ video.user.username }}"><img class="user-pic" src="{{ video.user.picture }}" alt=" " width="30px"></a>
              <a href="/watch?v={{ video.id }}" title="{{ video.title }}">{{ video.title }}</a>
            </h3>

            <p class="username" style="margin-left: 37px;">
              <a href="/{{ video.user.id }}" title="{{ video.user.username }}">{{ video.user.username }}</a>
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
