{% extends "base.html" %}

{% block head %}
  <title>{{ video.title }}</title>
  <link rel="stylesheet" href="https://vjs.zencdn.net/8.3.0/video-js.css">
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <video
          id="my-video"
          class="video-js"
          controls
          preload="auto"
          width="1280"
          height="720"
          data-setup="{}"
        >
          <source src="/api/video/{{ video.id }}" type="video/mp4">
        </video>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <h1>{{ video.title }}</h1>
      </div>

    </div>

    <div class="row" style="height: 60px">
      <div class="col-4 d-md-flex">
        <a class="username" href="http://localhost:8000/{{ user.id }}" title="{{ user.username }}"><img src="{{ user.picture }}" height="40px" alt="..."> {{ user.username }}</a>
      </div>
{#      <div class="col-2"></div>#}
      <div class="col-4 d-md-flex">
        {% if current_user and current_user.id != user.id %}
          {% if user in subscriptions %}
            <button id="subscribeButton" class="btn btn-dark btn-lg btn-watch" onclick="unsubscribe('{{ user.id }}')">Отписаться</button>
          {% else %}
            <button id="subscribeButton" class="btn btn-dark btn-lg btn-watch" onclick="subscribe('{{ user.id }}')">Подписаться</button>
          {% endif %}
        {% endif %}
      </div>
      <div class="col-4 d-md-flex justify-content-md-end">
        <span id="like-count" class="like-count"> {{ video.like_count }} </span>
        <button id="like-button" class="btn btn-dark btn-sm btn-watch" onclick=addLike({{ video.id }})><i class="icon-thumbs-up"></i></button>
      </div>
    </div>

    {% if video.description %}
      <div class="desc mt-1">
        <h4 style="text-align: left">{{ video.description }}</h4>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block script %}
{#  <script src="{{ url_for('static', path='/js/video.js') }}"></script>#}
  <script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
{% endblock %}



