{% extends "base.html" %}

{% block head %}
  <title>{{ data.video.title }}</title>
  <link rel="stylesheet" href="https://vjs.zencdn.net/8.3.0/video-js.css">
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <video
        id="my-video"
        class="video-js vjs-16-9"
        controls
        preload="auto"
        data-setup="{}"
      >
        <source src="/api/video/{{ data.video.id }}" type="video/mp4">
      </video>
    </div>

    <div class="row">
      <div class="col-12">
        <h1>{{ data.video.title }}</h1>
      </div>

    </div>

    <div class="row" style="margin-top: 15px;">
      <div class="video-author">
        <div class="video-author-picture">
          <a href="/{{ data.author.id }}" title="{{ data.author.username }}">
            <img class="user-pic" src="{{ data.author.picture }}" alt=" " width="40px">
          </a>
        </div>
        <div class="video-author-info">
          <h6>
            <a href="/{{ data.author.id }}" title="{{ data.author.username }}">
              {{ data.author.username }}
            </a>
          </h6>
          <p id="subscribers-count"></p>
        </div>
        <div id="subscribe-btn-block"></div>
        <div class="like-btn-block">
          <button class="btn btn-dark btn-sm btn-like" onclick="addLike({{ data.video.id }})"><i class="icon-thumbs-up"></i></button>
          <div id="like-count" class="like-count"> {{ data.video.like_count }} </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 15px; padding: 0 11.250px">
      <div class="video-description">
        <p class="create-date">{{ data.created_at }}</p>
        {% if data.video.description %}
          <h4>{{ data.video.description }}</h4>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', async function() {
        const token = getToken();
        if (token) {
          let subscribeButtonBlock = document.getElementById('subscribe-btn-block');
          let responseSubscriptions = await interceptorAuth('/api/user/me/subscriptions');
          responseSubscriptions = await responseSubscriptions.json();
          let me = responseSubscriptions.user;
          if (me.id !== '{{ data.author.id }}') {
              let subscriptions = responseSubscriptions.subscriptions;
              let author = {
                  id: '{{ data.author.id }}',
                  username: '{{ data.author.username }}',
                  picture: '{{ data.author.picture }}',
              };
              let subscribeButton = document.createElement('button')
              subscribeButton.id = 'subscribe-button';
              subscribeButton.className = 'btn btn-dark btn-sm btn-subscribe';
              if (subscriptions.some(subscription => subscription.id === author.id)) {
                  subscribeButton.onclick = (() => unsubscribe(author.id));
                  subscribeButton.textContent = 'Отписаться';
              } else {
                  subscribeButton.onclick = (() => subscribe(author.id));
                  subscribeButton.textContent = 'Подписаться';
              }
            subscribeButtonBlock.appendChild(subscribeButton);
          }
        }

        let subscribersCountBlock = document.getElementById('subscribers-count');
        let responseSubscribers = await fetch('/api/user/{{ data.author.id }}/subscribers');
        responseSubscribers = await responseSubscribers.json();
        subscribersCountBlock.textContent = `${responseSubscribers.subscribers.length} подписчиков`;
    });
  </script>
{% endblock %}



